* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dosis', sans-serif;
}

/* MANY OF THE SAME STYLES */
.underlined, .second-links, .what-sales {
  text-decoration: underline;
  cursor: pointer;
}
.bold {
  font-weight: bold;
}

.headers, .menu, .first-section, .second-section, .what-sales, .second-links-parent {
  display: flex;
}

/* HEADERS */
.black-header {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 30px;
}

.black-offer {
  color: white;
  font-size: 13px;
  padding-top: 6px;
  letter-spacing: .5px;
}

.white-header {
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 20px 35px 20px 35px;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Cinzel', serif;
}

.menu-items {
  margin: 0 30px 0 30px;
  font-size: 16px;
}

.menu-items2 {
  margin: 0 10px 0 10px;
}
/* END HEADERS */

/* MAIN */
.main {
  margin: 0 35px 35px 35px;
}

/* SECTION ONE */
.first-section {
  background-image: url('https://cdn.pixabay.com/photo/2017/12/21/11/23/pinecone-3031594_1280.jpg');
  padding: 0 160px 0 160px;
  height: 450px;
  border: 1px solid #dedede;
  align-items: center;
}

.sale {
  font-family: 'Francois One', sans-serif;
}

.winter-sale {
  background-color: #d40f0f;
  width: 270px;
  height: 150px;
  margin-left: 100px;
  padding: 20px;
  color: white;
  letter-spacing: 6px;
  font-size: 40px;
  text-align: center;
}

.winter-sale-details {
  padding-left: 180px;
  margin: 40px 70px 40px 0;
  width: 80%;
}

.add1-offer {
  background-color: #dedede;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
  letter-spacing: 1px;
  text-align: center;
}

.percent-off {
  font-size: 130px;
  text-align: center;
}

.what-sales {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  margin-top: 20px;
  width: 100%;
}

.p-spacing {
  margin: 5px 10px 5px 10px;
}

.save-sub {
  text-align: center;
  font-size: 20px;
  margin: -20px;
}
/* END OF SECTION ONE */

/* SECTION TWO */
.second-section {
  margin-top: 90px;
  background-image: url('https://media1.popsugar-assets.com/files/thumbor/J9b_qrymMgSqNzliG0Z3iBwO7P8/fit-in/2048xorig/filters:format_auto-!!-:strip_icc-!!-/2019/02/13/083/n/1922564/9905a6e95c64bdb48d2878.82794366_/i/Something-Navy-Spring-Line-Nordstrom.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: right;
  height: 700px;
  width: 100%;
  background-color: rgb(218, 213, 213);
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.second-text {
  width: 20%;
  margin-right: 600px;
}
.something-navy {
  font-size: 30px;
}
.feb-drop {
  font-size: 40px;
  margin-bottom: 10px;
}
.second-links {
  margin: 20px 20px 0 0;
  font-weight: bolder;
}

/* NOTEWORTHY */
.noteworthy {
  font-family: 'Cinzel', serif;
  width: 100%;
}
.new-title {
  font-size: 28px;
  text-align: center;
  margin: 200px 0 40px 0;
}
.note-photo-box {
  display: flex;
  width: 100%;
}
.noteworthy-photos {
  width: 500px;
  margin: 20px;
}
.noteworthy-text {
  margin: 6px 6px 6px 0;
}
.space-noteworthy {
  margin-left: 20px;
}
.note-1 {
  background-image: url('https://thestripe.com/wp-content/uploads/2015/03/happy-girls-wear-stripes.jpg');
  background-size: cover;
  height: 500px;
}
.note-2 {
  background-image: url('https://i.pinimg.com/originals/71/f8/5e/71f85e45aa22fc773f5183403d671064.jpg');
  background-size: contain;
  height: 500px;
}
.note-3 {
  background-image: url('https://dailydoseofcharm.com/wp-content/uploads/2018/07/Orange-twist-top-free-people-cardigan-nordstrom-anniversary-sale-2018-fall-outfit-on-daily-dose-of-charm-by-lauren-lindmark-4P6A6640.jpg');
  background-size: cover;
  height: 500px;
}
/* END OF NOTEWORTHY */

/* RUNWAY */
.runway {
  display: flex;
  justify-content: center;
  margin-top: 250px;
  width: 100%;
}
.run-1 {
  margin-right: 40px;
  background-image: url('https://cdn.shopify.com/s/files/1/1072/2632/products/Georgia-floral-dress-front-champagne_2048x.jpg?v=1533413415');
  height: 800px;
  width: 790px;
  background-size: cover;
}
.run-2 {
  background-image: url('https://i.pinimg.com/736x/88/60/85/886085c778ab74639505098b81aa934c.jpg');
  height: 800px;
  width: 790px;
  background-size: cover;
}
.runway-titles {
  text-align: center;
  padding-top: 60px;
  background-color: rgb(211, 208, 208);
  height: 300px;
}
.run-1-title {
  margin-right: 40px;
}
.run-nature {
  font-size: 30px;
  letter-spacing: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}
.run-desc {
  margin-bottom: 20px;
  padding: 0 200px 0 200px;
}
.run-spacing {
  margin-right: 20px;
}
.run2-spacing {
  margin-top: -50px;
  margin-bottom: 10px;
}
.link-spacing-run2 {
  margin-right: 25px;
}
.run-2-title {
  font-size: 100px;
  font-family: 'Cinzel', serif;
  font-weight: lighter;
}
.your-way {
  font-size: 20px;
  position: relative;
  width: 10px;
  top: -90px;
  left: 610px;
}